* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1200px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: corier;
    color: #0851D4;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin  :0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color:#0851D4;
}

section {
    margin:auto;
    display: flex;
    margin-bottom: 60px;
}

.kolom {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 20px;
}

.destination img {
    max-width: 100%;
    height: uto;
    width: 600px;
    border-radius: 10px;
    margin-top: 30px;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    width: 100%;
    color: #0851D4;
    line-height:50px ;
}

h3{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
    color: #0851D4;
}

.kolom .deskripsi {
    font-family: 'comic sans ms';
    margin-bottom: 20px;
    font-weight: 500;
    width: 100%;
    text-align: justify;
}

a.tbl-pink {
    background: #EC53B0;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #0851D4;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.colom {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 20px;
}

.colom .deskripsi {
    font-family: 'comic sans ms';
    margin-bottom: 20px;
    font-weight: 500;
    width: 100%;
    text-align: justify;
}

a.tbl-blue {
    background: #0851D4;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-blue:hover {
    background: #EC53B0;
    text-decoration: none;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tengah img {
    max-width: 80%;
    height: auto;
    width: 600px;
}

.countainer img {
    max-width: 100%;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    margin-top: 20px;
}